{% extends "base.html" %}
{% block title %}Ошибка проверки CSRF {% endblock %}
{% block content %}
  <h1>Ошибка проверки CSRF</h1>
  <p> Сообщение «Неверный или отсутствующий токен CSRF» означает, 
    что ваш браузер не смог создать безопасный файл cookie или не смог получить доступ
     к этому файлу cookie для авторизации вашего входа в систему. <br>
    Это может быть вызвано плагинами, блокирующими рекламу или сценарии, 
    а также самим браузером, если ему не разрешено устанавливать файлы cookie.
  <p><strong>Что можно сделать?</strong></p>
  <ul>
    <li> Отключите плагины, блокирующие рекламу или сценарии </li>
    <li> Проверьте настройки браузера </li>
    <li> Напишите нам author@ya.ru.</li>
  </ul>
{% endblock %}