    {% load static %}
    <footer class="text-center pt-5">
      <nav class="navbar sticky-top navbar-light"  style="background-color: lightskyblue;">
        <div class="container">
          <a class="navbar-brand" href="{% url 'posts:index' %}"  style=" margin-left: auto; margin-right: auto;">
            <img src="{% static 'img/yatube_logo.png' %}" width="169" height="60.4"> <br>
            © {{year}} Copyright <span style="color:red">Ya</span>tube
          </a>
        </div>
      </nav>
    </footer>
