{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css">
</head>
    <header>
      <nav class="navbar sticky-top navbar-light"
        style="background-color: #bedfff">
        <div class="container">
          <a class="navbar-brand kek" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="">
            <span style="color:red">Ya</span>tube
          </a>
          <ul class="nav nav-pills">
          {% with request.resolver_match.view_name as view_name %}
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:author' %}active{% endif %}" 
                href="{% url 'about:author' %}" style="color:black">
                Об авторе
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'about:tech' %}active{% endif %}" 
                href="{% url 'about:tech' %}" style="color:black">
                Технологии
              </a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'posts:post_create' %}active{% endif %}" 
                href="{% url 'posts:post_create' %}" style="color:black">
                Новая запись
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if view_name  == 'posts:group_create' %}active{% endif %}" 
                href="{% url 'posts:group_create' %}"  style="color:black">
                Основать группу
              </a>
            </li>
            
            <div class=" dropdown nav-item">
              <button class="nav-link dropbtn">
                👤 <span style="color:red"> {{ user.username }}</span>
              </button>
              <div class="dropdown-content">
                <a class="nav-link link-light"
                href="{% url 'users:password_change' %}">
                  Изменить пароль
                </a>
                <a class="nav-link link-light" 
                href="{% url 'users:logout' %}">
                  Выйти
                </a>
              </div>
            </div>
                
            {% else %}
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name  == 'users:login' %}active{% endif %}" 
                href="{% url 'users:login' %}">
                Войти
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link link-light {% if view_name  == 'users:signup' %}active{% endif %}" 
                href="{% url 'users:signup' %}">
                Регистрация
              </a>
            </li>
            {% endif %}
          {% endwith %}
          </ul>
        </div>
      </nav>
    </header>