{% extends 'base.html' %}
{% load static %}
{% block title %}Об авторе{% endblock %}
{% block content %}
        <style>p {text-indent: 30px;}</style>
        <div class="row justify-content-center p-5">
            <h2>Обо мне &#128105</h2>
            <div class="col-sm-4" >
                <img src="{% static 'img/author.jpg' %}" width="100%">
                <br>
            </div>
            <div class="col-sm-8">
                <p align="justify">
                    <h5>Moи страницы на различных ресурсах:</h5>
                    <ul>
                        <li>
                            <a href="https://github.com/solar-ka">GitHub</a>
                        </li>
                        <li>
                            <a href="https://vk.com/solar__ka">Вконтакте</a>
                        </li>
                        <li>
                            <a href="https://t.me/solar_ka/">Telegram</a>
                        </li>
                    </ul>
                </p>
                <p align="justify">
                    Говоря о моём образовании, хочется в первую очередь отметить школу, в которой я проучилась с 5 по 11 класс –
                    <a href="https://schuuz2007.mskobr.ru/">физико-математическая школа 2007</a>.
                    Там активно развивалось моё логическое мышление, а также стремление к рациональнсти и красоте в любом деле.
                    После школы получила высшее образование &#127891; – МГУ, геологический факультет, кафедра геофизики.
                    Со 2 по 4 курс параллельно получила также в МГУ педагогическое образование, т.к. геофизика не очень меня увлекла.
                </p>
                <p align="justify">
                    Ещё во время учёбы, а потом и после её окончания преподавала в школе математику.
                    Учить детей мне нравилось, потому что мне безумно интересно вести уроки,
                    видеть, как у детей вертятся шестерёнки в мыслительном процессе, и слышать радостное «Я&nbspпонял!» &#128587;.
                    Дети дают невероятно сильные эмоции, это очень мотивирует.
                    Также было приятно осозновать, что моя работа социально значима, приносит очевидную пользу обществу.
                </p>
                <p align="justify">
                    Но захотелось попробовать работу, на которой у меня всё-таки будет work-life balance и на которой всё-таки платят деньги.
                    И вот сейчас я учусь на программиста &#128187; в Яндекс-практикуме, хочу стать бэкенд-разработчиком на python.
                    Параллельно с практикумом прохожу курсы на <a href="https://stepik.org/">Stepik</a> по питону, 
                    а также яндексовские архивные <a href="https://yandex.ru/yaintern/algorithm-training_1">Тренировки по алгоритмам</a>.
                    Ещё со школы очень люблю решать алгоритмические задачи,
                    придумывать, как сделать работу программы оптимальнее – на мой взгляд, это безумно интересно.
                </p>
                <p align="justify">
                    Помимо программирования увлекаюсь хастлом (парный социальный танец), очень люблю читать и готовить тортики.
                    В последнее время много думаю о переезде в другую страну, и полна тревог, связанных с трудоустройством начинающего программиста.
                </p>
                <p align="justify">
                    &#x2742; Буду рада пообщаться &#x2742;
                </div>
            </div>
{% endblock %}