{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
        <style>p {text-indent: 30px;}</style>
        <div class="row p-5">
          <h1>Вот что я умею</h1>
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Python</li>
              <li class="list-group-item">Django</li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <p align="justify">
              В процессе создания данного проекта использовались Django и Python &#128013;.
              Также пригодилось понимание того, как работают SQL-запросы, для составления запросов к базе, и базовые знания HTML.
            </p>
            <p align="justify">
              Программирования на Python в привычном мне понимании (алгоритмические задачи или что-то подобное) практически не было,
              зато пришлось много вникать в возможности Django.
              Это очень мощная машина, с таким количеством возможностей, что я просто заблудилась. Хотя круто, что для всего есть уже готовые классы/методы/функции...
            </p>
            <p align="justify">
              Структура проекта получилась непростой - есть много отдельных приложений, каждое из которых выполняет свою задачу, но все они должны работать сообща.
              Особенно сложной для меня оказалась как раз грамотная настройка всего вместе - постоянно забывала где-то написать импорт, или добавить новое в файл с настройками.
            </p>
            <p align="justify">
              HTML-разметка иногда вызывала огромный интерес и желание попробовать какое-то своё новое оформление (обратите внимание на нижний футер - логотип для него я нарисовала сама &#127912;),
              а иногда хотелось послать её к чертям с криком "Я же не фронтендер!" (Особенно, в моменты красивого расставления отступов по вложенности)
            </p>
            <p align="justify">
              Надеюсь, что в дальнейшем список доступных мне технологий будет выглядеть более внушительно.
            </p>
          </article>
        </div>
{% endblock %}
