<div class="row my-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a 
          class="nav-link {% if search_posts %}active{% endif %}"
          href= "{% url 'posts:search_results'%}?q={{query}}&type=posts"
          >
          Посты
        </a>
      </li>
      <li class="nav-item">
        <a 
          class="nav-link {% if search_authors %}active{% endif %}"
          href="{% url 'posts:search_results'%}?q={{query}}&type=authors"
          >
          Авторы
        </a>
      </li>
   <!--   <li class="nav-item">
        <a 
          class="nav-link {% if comments %}active{% endif %}"
          href="{% url 'posts:like_index' %}"
          >
          Комментарии
        </a>
      </li> -->
    </ul>
  </div>