{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author }}{% endblock %}
{% block content %}
          <h1>{{ author.username }}</h1>
          {% if author.get_full_name %}
            <h5>Имя пользователя: {{ author.get_full_name }}</h2>
          {% endif %}
          <h5>Всего постов: {{ posts_count }}
            {% if user != author %}
              {% if following %}
                <a class="btn btn-lg btn-light"
                  href="{% url 'posts:profile_unfollow' author.username %}"
                  role="button">Отписаться</a>
              {% else %}
                <a class="btn btn-lg btn-primary"
                  href="{% url 'posts:profile_follow' author.username %}"
                  role="button">Подписаться</a>
              {% endif %}
            {% else %}
              <a class="btn btn-lg btn-primary"
                href="{% url 'posts:post_create'%}"
                role="button"
                style="font-size: 16px;"
                >
                Опубликовать новый пост   
              </a>
            {% endif %}
          </h3>
        <hr>  
        <div class ="container">
          {% for post in page_obj %}
            {% include 'posts/includes/for_post.html' %}
          {% endfor %}
        {% include 'posts/includes/paginator.html' %}
        </div>
{% endblock %}